---
layout: page
permalink: /selection-produits/index.html
title: "Une sélection de nos produits"
---


{% comment %}
  {% include coll_ext_search/display.html %}
  integrated here with design page, specific layout search
{% endcomment %}

  

         


        
        {% for list in site.data.coll_ext.model_json.list-model-json %}
          {% if list.id == 'categorie-recherche-selection-produits' %}

            {% assign title_search = list.title  %}
            

            {% include coll_ext_utils/list-detail-items_init_step.html %}
            {% include coll_ext/main.html
              force_page_ref_input=true
              force_display_no_details=true
            %}
{% comment %}
            <button class="catSearchShowAll">
              <h3 class="termSearch">{{title_search}}</h3>
            </button>
            <form action="" id="site_search">
              <input type="search" id="search_box" placeholder="Que recherchez vous?" autocomplete="off">
            </form>{% endcomment %}
            <ul class="Grid Grid--gutters-m ">
              <li class="Grid-cell--autoSize "> 
                <button class="catSearchShowAll">
                  <div class="termSearch"><i class="fa fa-refresh" aria-hidden="true"></i></div>              
                </button>     
              </li>
              <li class="Grid-cell  ">
                <form action="" id="site_search">
                  <input type="search" id="search_box" placeholder="Recherche" autocomplete="off">
                </form>            
              </li>
            </ul>  
          {% endif %}
        {% endfor %}

               

        {% for list in site.data.coll_ext.model_json.list-model-json %}
          {% if list.id == 'recherche-selection-produits' %}
            {% include coll_ext_utils/list-detail-items_init_step.html %}
            {% include coll_ext/main.html
              force_page_ref_input=true
            %}
          {% endif %}
        {% endfor %}
    
{% comment %}
{% for list in site.data.coll_ext.model_json.list-model-json %}
    {% if list.id == 'categorie-recherche-selection-produits' %}

      {% assign title_search = list.title  %}
      

      {% include coll_ext_utils/list-detail-items_init_step.html %}
      {% include coll_ext/main.html
        force_page_ref_input=true
        force_display_no_details=true
      %}
    {% endif %}
  {% endfor %} 

  <ul class="Grid Grid--gutters-m ">
    <li class="li-slider Grid-cell  u-1of3-m "> 
      <button class="catSearchShowAll">
        <h3 class="termSearch"><i class="fa fa-refresh" aria-hidden="true"></i></h3>
        
      </button>     
    </li>
    <li class="Grid-cell u-2of3-m ">
      <form action="" id="site_search">
        <input type="search" id="search_box" placeholder="Une recherche?" autocomplete="off">
      </form>            
    </li>
  </ul>

  
        

  {% for list in site.data.coll_ext.model_json.list-model-json %}
    {% if list.id == 'recherche-selection-produits' %}
      {% include coll_ext_utils/list-detail-items_init_step.html %}
      {% include coll_ext/main.html
        force_page_ref_input=true
      %}
    {% endif %}
  {% endfor %}

{% endcomment %}