---
layout: home
---

{% include coll_ext/config/common-param.html %}

{% assign list_title_item_acceuil = delim %}
{% assign list_url_article_item_acceuil = delim %}

{% assign list_car_image_acceuil = delim %}
{% assign list_car_description_acceuil = delim %}
{% assign list_car_url_acceuil = delim %}


{% for collection in site.collections %}
  {% if collection.label == 'nos-informations' %}
    {% assign raw_items_navig_acceuil = collection.docs %}
    {% break %}
  {% endif %}
{% endfor %}
{% assign items_tmp = raw_items_navig_acceuil | sort: 'order' %}

{% assign cpt_images_acceuil = 0 %}

{% for item_tmp in items_tmp %}
  {% if item_tmp.path contains '/page-acceuil/bienvenue.md' %} 
    {% assign textBienvenue = item_tmp.content %} 
  {% endif %}
  {% if item_tmp.path contains '/page-acceuil/menu-liens-articles/' %} 
    {% unless item_tmp.path contains '/index.md'  %}
      {% assign list_title_item_acceuil = list_title_item_acceuil | append : item_tmp.title | append: delim %}
      {% assign list_url_article_item_acceuil = list_url_article_item_acceuil | append : item_tmp.url | append: delim %}
    {% endunless %}
  {% endif %}
  {% if item_tmp.path contains '/page-acceuil/carousel/' %} 
    {% unless item_tmp.path contains '/index.md'  %}
      {% assign list_car_image_acceuil = list_car_image_acceuil | append : item_tmp.image | append: delim %}
      {% assign list_car_description_acceuil = list_car_description_acceuil | append : item_tmp.description | append: delim %}
      {% assign list_car_url_acceuil = list_car_url_acceuil | append : item_tmp.url | append: delim %}
    {% endunless %}
  {% endif %}
  {% if item_tmp.path contains '/page-acceuil/image-logo-acceuil/' %} 
    {% unless item_tmp.path contains '/index.md'  %}
      {% comment %} une seule image attendue ! {% endcomment %}
      {% assign item_logo_acceuil = item_tmp %}     
    {% endunless %}
  {% endif %}
  {% if item_tmp.path contains '/page-acceuil/images-acceuil/' %} 
    {% unless item_tmp.path contains '/index.md'  %}
      {% comment %} 2 images attendues ! {% endcomment %}
      {% if cpt_images_acceuil == 0 %}
        {% assign item_image_acceuil1 = item_tmp %}
        {% assign cpt_images_acceuil = cpt_images_acceuil | plus: 1 %}
      {% elsif cpt_images_acceuil == 1 %}
        {% assign item_image_acceuil2 = item_tmp %}
        {% assign cpt_images_acceuil = cpt_images_acceuil | plus: 1 %}
      {% endif %}
          
    {% endunless %}
  {% endif %}

{% endfor %}

{% assign array_title_item_acceuil = list_title_item_acceuil | remove_first: delim | split: delim  %}
{% assign array_title_item_acceuil_size = array_title_item_acceuil.size | minus: 1 %}
{% assign array_url_article_item_acceuil = list_url_article_item_acceuil | remove_first: delim | split: delim  %}



      


<div class="main-presentation">
 <!--  Presentation (text, navigation, ..) first left
  Images, last right  -->
  <ul class="Grid Grid--gutters-m u-spaceVN">

  <!-- .presentation Presentation part -->
    <li class=" Grid-cell u-full u-med-2of3-m u-spaceBN">
      <div class="presentation">
        <ul class="Grid Grid--gutters-m u-spaceVN">

          <!-- .li-presentation & .presentation-text (gestion padding responsive), part left on lg screen, first on small -->
          {% if textBienvenue != null and textBienvenue != "" %}          
            <li class="li-presentation Grid-cell u-full  ">
              <div class="presentation-text">
                {{textBienvenue}}              
              </div>
            </li> <!--fin .li-presentation -->
          {% endif %}

          <!-- .li-nav-ab , navigation list + AB logo -->
          <li class="li-nav-ab Grid-cell u-full  u-spaceBN" >
            <!-- add one level imbrication -->
            <!-- <ul class="Grid Grid--center Grid--flexCells Grid--gutters-m u-spaceVN"> -->
            <ul class="Grid  Grid--gutters-m u-spaceVN">
              <li class="li-nav Grid-cell Grid-cell--center ">
                <ul class="navigation">
                  {% comment %}
                  {% for item in site.data.custom.home-page.navigation.home-short-nav %}                    
                  {% endfor %}
                  {% endcomment %}
                  {% for iter_array in (0..array_title_item_acceuil_size) %}
                    {% assign title_tmp = array_title_item_acceuil[iter_array]  %}
                    {% assign url_tmp = array_url_article_item_acceuil[iter_array] %}                    
                    <li id="menu-item" {% comment %}style="margin-left: {{ forloop.index | minus: 1 | times: 2}}em;"{% endcomment %}> <a class="menu-item u-textTruncate " href="{{site.baseurl}}{{url_tmp}}"><h2>{{title_tmp}}</h2></a> </li>
                  {% endfor %}
                </ul>
                <!-- u-textTruncate u-textNoWrap -->
              {% comment %}</li>
              {% for item in site.data.custom.home-page.img.image-intergrid-acceuil limit:1 %}
              <li class="li-ab Grid-cell Grid-cell--autoSize not-inf-sm">
                {% picture logo-intergrid-home {{item.image}} alt="{{item.description-image}}" title="{{item.description-image}}" %}
              </li>
              {% endfor %}{% endcomment %}
              <li class="li-ab Grid-cell Grid-cell--autoSize not-inf-sm">
                {% picture logo-intergrid-home {{item_logo_acceuil.image}} alt="{{item_logo_acceuil.description-image}}" title="{{item_logo_acceuil.description-image}}" %}
              </li>



            </ul>

          </li> <!-- fin .li-nav-ab-->
        <!-- fin navigation list + AB logo -->
        </ul>

      </div>
    </li>
  <!--fin .presentation Presentation part -->


  <!-- image-acceuil, part right on lg screen -->
    <li class="Grid-cell u-full u-med-1of3-m ">
      <div class="part-welcome-img">
        <ul class="Grid Grid--gutters-m u-spaceVN">

          {% if item_image_acceuil1 != null %}
            <li class="li-img-primdark Grid-cell u-1of2-m u-ssmall-1of3-m u-small-1of2-m u-med-full ">
              {% if item_image_acceuil1.url != null and item_image_acceuil1.url != '' %}
                <a href="{{site.baseurl}}{{item_image_acceuil1.url}}" title="{{item_image_acceuil1.description-url}}">
              {% endif %}
              {% picture welcome-home {{item_image_acceuil1.image}} alt="{{item_image_acceuil1.description-image}}" %}
              <div class="u-textCenter">{{item_image_acceuil1.descriptif}}</div>
              {% if item_image_acceuil1.url != null and item_image_acceuil1.url != '' %}</a>{% endif %}
            </li>
          {% endif %}
          {% if item_image_acceuil2 != null %}
            <li class="li-img-primdark Grid-cell u-1of2-m u-ssmall-1of3-m u-small-1of2-m u-med-full ">
              {% if item_image_acceuil2.url != null and item_image_acceuil2.url != '' %}
                <a href="{{site.baseurl}}{{item_image_acceuil2.url}}" title="{{item_image_acceuil2.description-url}}">
              {% endif %}
              {% picture welcome-home {{item_image_acceuil2.image}} alt="{{item_image_acceuil2.description-image}}" %}
              <div class="u-textCenter">{{item_image_acceuil2.descriptif}}</div>
              {% if item_image_acceuil2.url != null and item_image_acceuil2.url != '' %}</a>{% endif %}
            </li>
          {% endif %}


          {% comment %}{% for item in site.data.custom.home-page.img.image-acceuil limit:2 %}
            <li class="li-img-primdark Grid-cell u-1of2-m u-ssmall-1of3-m u-small-1of2-m u-med-full ">

              {% if item.lien != "" %}
                <a href="{{site.baseurl}}{{item.lien}}" title="{{item.description-lien}}">
              {% endif %}
              {% picture welcome-home {{item.image}} alt="{{item.description-image}}" %}
              <div class="u-textCenter">{% if item.text-icone != "" %}<i class="{{item.icone-text}}" aria-hidden="true"></i>&nbsp;{% endif %}{{item.text}}</div>
              {% if item.lien != "" %}</a>{% endif %}
            </li>
          {% endfor %}{% endcomment %}
          {% comment %}{% for item in site.data.custom.home-page.img.image-intergrid-acceuil limit:1 %}
            <li class=" Grid-cell  u-full u-ssmall-1of3-m on-sm-only" >
              {% picture logo-intergrid-home {{item.image}} alt="{{item.description-image}}" title="{{item.description-image}}" %}
            </li>
          {% endfor %}{% endcomment %}
          <li class=" Grid-cell  u-full u-ssmall-1of3-m on-sm-only" >
            {% picture logo-intergrid-home {{item_logo_acceuil.image}} alt="{{item_logo_acceuil.description-image}}" title="{{item_logo_acceuil.description-image}}" %}
          </li>

          
        </ul>
      </div>
    </li>
  <!-- fin image-acceuil, part right on lg screen -->
  </ul>
</div>
<!-- carousel page d'acceuil -->
<!-- TODO : add text-->
<!-- <div id="slider-presentation">
{% for item in site.data.custom.home-page.img.carousel-acceuil.list_img %}

  {% assign title-image = item.description-image %}

  <div {% if forloop.index > 1 %} class="invisible" {% endif %}>
    {% if item.lien != "" %}
      {% assign title-image = item.description-lien %}
      <a href="{{site.baseurl }}{{item.lien}}" title="{{item.description-lien}}">
    {% endif %}

    {% picture slider-home {{item.image}} alt="{{item.description-image}}" title="{{title-image}}"  %}

    {% if item.lien != "" %}</a>{% endif %}
  </div>
{% endfor %}
</div> -->


{% include picture/slider-standard.html
  input_slider='i-acc'
  list_image=list_car_image_acceuil
  list_description=list_car_description_acceuil
  list_url=list_car_url_acceuil
%}

<!-- list items -->
{% for list in site.data.coll_ext.model_list-detail-items.list-detail-items %}


  {% if list.force_display_coll_ext == true %}
    {% include coll_ext_utils/list-detail-items_init_step.html %}
    {% include coll_ext/main.html
      force_page_ref_input=true
    %}

  {% endif %}

{% endfor %}
