<div class=" Header-home" role="banner">
 <ul class="Grid Grid--flexCells ">
    <li class="Grid-cell .Grid-cell--autoSize  ">
      {% comment %}{% picture logo-home logo-header.jpg alt=" Logo La Case Bio, mangez bio!" %}{% endcomment %}
      {% picture logo-home logoheader-lcb.jpg alt=" Logo La Case Bio, mangez bio!" %}      
    </li>
    <li class="Grid-cell img-logo-extra">      
      {% picture logo-header-image facade-magasin.jpg alt=" Devanture La Case Bio, Coutras" %}      
    </li>
  </ul>
</div>
