
<div class="Header-home" role="banner">
 <ul class="Grid Grid--flexCells ">
    {% comment %}<li class="Grid-cell Grid-cell--autoSize img-header-normal ">{% endcomment %}
    {% comment %}<li class="Grid-cell img-header-normal ">
      {% picture logo-home logoheader-lcb.jpg alt=" Logo La Case Bio, mangez bio!" %}
    </li>{% endcomment %}
    {% comment %}<li class="Grid-cell Grid-cell--autoSize img-header-xl ">{% endcomment %}
    <li class="Grid-cell  img-header-xl ">
      {% comment %}{% picture logo-home logoheader-lcb-extra2h230.jpg alt=" Logo La Case Bio, mangez bio!" %}{% endcomment %}
      
      <picture>
        <source srcset="/lcb04/images/logoheader-lcb-extra2h230-2300by230-b50e04.jpg" media="(min-width: 1680px)">
        <source srcset="/lcb04/images/logoheader-lcb-extra2h230-1680by230-b50e04.jpg" media="(min-width: 920px)">
        <source srcset="/lcb04/images/logoheader-lcb-extra2h230-920by230-b50e04.jpg">
        <img src="/lcb04/images/logoheader-lcb-extra2h230-920by230-b50e04.jpg" class="logo-home-image" itemprop="image" alt=" Logo La Case Bio, mangez bio!">
      </picture>
    </li>  
   {% comment %} <li class="Grid-cell  img-header-med ">
      {% picture logo-home logoheader-lcb-extra1.jpg alt=" Logo La Case Bio, mangez bio!" %}
    </li>     {% endcomment %}
  </ul>
</div>
  
{% include coll_ext_utils/display_navigation_header.html %}

<span class="menu-item nav-not-active js-toggle-main-menu"><i class="fa fa-bars"></i> <span class="text">Menu</span></span>

{% if detect_url_page == false %}
	{% assign home_title = site.title | prepend: "Acceuil&nbsp;" %}
		{% include coll_ext_utils/path-navig-title.html title=home_title class_logo="logo-back"%}
{% endif %}


    

