#slider-presentation {
  position:relative;
  margin-bottom: 2em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}



.slider-home-image {
  width: 100%;
  // border-radius: $border-radius-site;

}
